.gradient-text {
  font-size: 3em;
  font-weight: bold; /* Make the font bold */
  background: linear-gradient(270deg, #007bff, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: animateGradient 5s linear infinite;
  -webkit-animation: animateGradient 5s linear infinite; /* Safari and Chrome */
}

@keyframes animateGradient {
  0%,
  100% {
    background-position: 200% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
}

.large-button {
  font-size: 1.5em; /* Large font size */

  border-radius: 20px; /* Rounded corners */
  padding: 10px 20px; /* Padding inside the button */
  background: linear-gradient(
    270deg,
    #007bff,
    #00bfff
  ); /* Blue gradient background */
  color: white; /* Text color */
  border: none; /* Remove default border */
  cursor: pointer; /* Cursor pointer on hover */
  transition: background 0.3s ease, transform 0.3s ease; /* Smooth transition for background color and scale change */
}

.large-button:hover {
  background: linear-gradient(
    270deg,
    #ffa500,
    #ffd700
  ); /* Orange gradient background on hover */
  transform: scale(1.1); /* Scale the button on hover */
}
